body{
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background: #f4f4f4;
   
    }


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E66B8F;
  color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
header h1 {
   font-size: 45px;
   margin: 0;
   text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

header h2 {
  font-size: 20px;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}  
nav {
  background: #fff;
  text-align: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;   
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav a:hover {
      color: #C25473;
}

.gender-quality-1 {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url("taas.jpg") no-repeat center center/cover;
 width: 90%;
  border-radius: 8px;
  margin: 20px auto;
  padding: 100px 20px;
  text-align: center;
  color: #333;
  
}
.gender-quality-1 h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f4f4f4;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
.gender-quality-1 p {
  font-size: 18px;
  line-height: 1.6;
  color: #f4f4f4;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
      .gender-quality {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background-color: #ffffff;
      }   

      .image-container {
        flex: 1 1 400px;
        text-align: center;
      } 

      .image-container img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      }

      .text-container {
        flex: 1 1 400px;
        padding: 20px;
      }

      .text-container h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #222;
      }

    

      .text-container p {
        font-size: 18px;
       line-height: 1.6;
       margin-bottom: 16px;
       color: #555;
      }

      .text-container-1 {
        padding: 40px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      }
      .text-container-1 h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #222;
      }
      .text-container-1 p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 16px;
        color: #555;
      }




